/* Header section styles start */
header {
    background-color: $gray-dark;
    box-shadow: 0px 6px 12px $gray-dark;
    position: fixed;
    width: 100%;
    z-index: 100;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;

        .nav-items {
            display: flex;
            gap: 3rem;
            margin: 1rem 0;
            a:hover {
                color: $danger-color;
                transition: 0.5s ease;
            }
        }
    }
    /* CSS code for the toggler and responsive navbar  */
    .navbar-togglerr {
        display: none;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }
    /* Agar qo'shimcha rang ishlatmoqchi bo'lsangiz, bu yerda qo'shing */
    .navbar-togglerr span {
        color: #fff; /* Tugma ichidagi belgi rangini oq qilib qo'ying */
    }
        
}

footer {
    background-color: $gray-dark;
}